#via {
    background-image: url(via.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 20%;
}
h1 {
	color: white;
	text-align: center;
	padding-top: 85px;
}
#text-content {
	width: 100%;
	font-size: 20px;
	text-align: justify;

}
#planta {
	background-image: url("planta.jpg");
	width: 17%;
	height: 34%;
	background-repeat: no-repeat;
	float: left;
}

#cielo {
	background-image: url("cielo.jpg");
	width: 9%;
	height: 33%;
	background-repeat: no-repeat;
	float: right;
	margin-left: 10px;
}

#footer {
	display: inline;
	color: white;
	float: left;
	margin-left: 20px;
}

#piepagina {
	color: white;
	margin-left: 600px;
	text-align: center;
	width: 400px;
	display: inline-block;
	float: center;
}

#contact {
	color: white;
	display: inline;
	float: right;
	margin-right: 20px;
}

#caja {
	background-size: cover;
	clear: both;
	background-color: black;
}