#fondo{
background-color:deepskyblue;
width: 100%;
height: 400px;
z-index:-5;
position: relative;

}

#clouds {
	background-image: url("clouds.png");
	width: 100%;
	height: 80px;
	position:absolute;
	top:15px;
	z-index:-4;
}

#mario {
	background-image: url("mario.png");
	width: 100%;
	height: 99px;
	background-repeat: no-repeat;
	z-index:-3;
	position: absolute;
	bottom: 10px;


}

#base {
	bottom: 0px;
	background-image: url("base.png");
	width: 100%;
	height: 10px;
	z-index:-4;
	position: absolute;
}